.message {
   display: flex;
   align-items: start;
   margin-bottom: 30px;
   
}
.message-container {
   display:flex;
   flex-direction: column;
   align-items: center;
   padding: 10px;
   border-radius: 10px;
   background-color: rgb(0, 76, 78);
   box-shadow: 0 0 10px rgba(0,0,0,0.5);
   width: 600px;
}

.message-user-section {
   display: flex;
   align-self: start;
}

.message-user-text-section {
   display:flex;
   justify-self: space-between;
   flex-direction: column;
}

.message-user-name-section {
   display:flex;
   align-items: center;
   width: 120px;
   margin-bottom: 10px;
}

.message-text {
}

.message-time {
   color: rgb(180, 179, 179);
   font-size: 1rem;
}

.message-like {
   cursor: pointer;
   align-self: flex-end;
}

.message-user-name {
   color: rgb(12, 192, 192);
   margin-right: 5px;
}

.message-user-avatar {
   width: 60px;
   height: 60px;
   border-radius: 10px;
   margin-right: 15px;
   align-self: center;
}

.liked {
   color: rgb(0, 255, 200);
 }
  