.main {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: space-between;
   border-radius: 10px;
   box-shadow: 0 0 40px rgba(0,0,0,0.5);
   background-color: rgb(18, 40, 53);
   font-size: 1.5rem;
   height: 100%;
}
