.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 10px;
   box-shadow: 0 0 40px rgba(0,0,0,0.5);
   background-color: rgb(9, 43, 48);
   padding: 30px;
   font-size: 1.5rem;
   margin-bottom: 1rem;
}

.header-title {
   font-size: 2rem;
   text-transform: uppercase;
   font-weight: bold;
   color:rgb(255, 255, 255);
   border-radius: 12px;
   padding: 10px;
   background-color: rgb(14, 24, 29);
}

.header-users-count {
}

.header-last-message-section {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.header-last-message-text {
   margin-bottom: 5px;
}
