.message-list {
   width: 100%;
   padding: 30px;
}

.messages-divider {
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom: 3px solid black;
   position: relative;
   width: 100%;
   margin: 40px 0px 40px 0px;
}
.messages-date {
   margin-bottom: -15px;
   background-color: #fff;
   color: black;
   border-radius: 4px;
   padding: 4px;
}

